.about{
    display: flex;
    flex-wrap: wrap;
   max-width: 980px;
   /* margin: 0 auto; */
   margin-top: 50px;
   /* padding: 20px; */
   align-items: center;
   /* border: 2px solid red; */
  
}

.about__info{
    flex: 0.9;
   
}
.about__image{
    flex:0.1;
    margin-left: 50px;
  

    
}

.about__img{
    height: 250px;
    width: 250px;
    border: 2px solid steelblue;
    border-radius: 50%;
}