.about {
  min-height: 50vh;
  color: black;
  padding: 0 50px;
  margin: 0 auto;
}

.about h1 {
  text-align: center;
}

.about__info {
  margin-top: 2rem;
}

.about span {
  color: rgb(48, 45, 45);
  font-size: 30px;
  line-height: 50px;
}

@media only screen and (max-width: 760px) {
  .about span {
    font-size: 20px;
  }
}
