.about{
    justify-content: center;
    align-items: center;
   border-bottom: 2px solid grey;
   height: 500px;
   max-width: 980px;
   margin: 0 auto;
   color: white;
   }
   .about-header > h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;;
}

   .about-all{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
   
   }
   .about__img{
    height: 200px;
    width: 250px;
    border: 2px solid steelblue;
    border-radius: 50%;
    margin-top: 20px;
}

