.contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   max-width: 980px;
   margin-top: 50px;
   align-items: center;
   border: 2px solid silver;
   border-radius: 10px;
   background-color: black;
   color: steelblue;
 
   
}

.contact__form{
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
    
   
}

.contact__form label{
    display:block;
    margin: 30px auto;
}

.contact__form span{
    display: block;
    margin-bottom: 6px;
}

.contact__form input{
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
   
}

.contact__form textarea{
    padding: 8px 6px;
    font-size: 1em;
    height: 100px;
    width: 210px;
}



.contact__btn{
    background: none;
    border: 2px solid steelblue;
    padding:6px 12px;
    color:  rgb(60, 60, 109);
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

.contact__btn:hover{
    background-color: rgb(60, 60, 109);
    color: #fff;
}

.contact__info{
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
}