.contact-container {
  color: black;
  border-radius: 2px;
  min-height: 400px;
  padding: 30px;
  align-items: center;
}

.contact-container h1 {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  padding: 70px;
}

.contact-phone,
.contact-address,
.contact-time,
.contact-email {
  text-align: center;
}

.contact-phone h4,
.contact-address h4,
.contact-time h4,
.contact-email h4 {
  margin: 20px 0;
  font-weight: 700;
  font-size: 24px;
  color: black;
}

.contact-phone p,
.contact-address p,
.contact-time p,
.contact-email p {
  margin: 20px 0;
  font-size: 14px;
  color: black;
}

#icon {
  font-size: 30px;
  background-color: black !important;
  color: white;
}

@media all and (width <= 768px) {
  .contact {
    width: 100%;
    min-height: 50vh;
    background-position-y: center;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
