.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right,  #221f1f, rgb(41, 30, 32), brown);;
}

.footer p{
    color: grey;
    font-size: 800;
}