.navbar{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top:0;
    background-color: #171515;
   border-bottom: 1px solid rgba(0,0,0,0.4);
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 40px;
    z-index: 100;
    /* border: 2px solid yellow; */
    
}

.navbar a{
color: steelblue;
text-decoration: none;
cursor: pointer;
}

.navbar a:hover{
    color: grey;
    border-bottom: 1px solid orange;
}

.navbar__logo{
    flex: 0.4
}

.logo{
    color: rgb(122, 122, 195);
}

.navbar__navigation{
    display: flex;
    justify-content: space-between;
    flex: 0.6;
}
.toggle{
    display: none;
}

@media  screen and (max-width: 780px) {

    .navbar{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: #171515;
    }

    .navbar__logo{
        display: flex;
       align-items: center;
       
    }

    .navbar__navigation{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
       
        
    }
    /* .nav-links-mobile{
        display: block;
        list-style: none;
        transition: all 0.5s ease-out;
       

    } */
    /* a{
        color: white;
        text-align: centre;
        padding: 32px;
        transition:  all 0.5s ease;
    }
    .toggle{
        width: 20px;
        height: 20px;
       
    } */
}