.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
   background-color: #171515;
    height:80px;
    
    
}



.navbar a:hover{
    color: grey;
    border-bottom: 1px solid orange;
}

.navbar__logo{
    flex: 0.3;
}
     /* LOGO */
.logo{
    color: steelblue;
    margin-left: 15px;
}

      /* Navigation links */
.links{
    flex: 0.7;
    align-items: center;
    display: flex;
    justify-content: right;
}

.navbar__navigation{
    max-height: 80px;
   
}
.navbar__navigation a{
    color: steelblue;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    
}
    

#hidden{
    display: flex;
}
.btn{
    display: none;
    margin-right: 20px;
}

@media only screen and (max-width: 880px) {
   
   
    .navbar a{
    font-size: 20px;
}
}
@media only screen and (max-width: 750px) {

    .navbar a{
    font-size: 15px;
}
}

@media only screen and (max-width: 650px) {
    
   .navbar__navigation{
        display: none;
        
        
    }
    .btn{
    display: flex;
    
}
    

#hidden{
    position: absolute;
    right: 0px;
    top: 80px;
    height: 650px;
    max-height: 650px;
    width: 100%;
    background-color: #171515;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* #hidden{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   justify-content: center;
   background-color: #171515;
   height: 230px;
   max-height: 230px;
   width: 100%;
   margin-right: 0;
   padding: 20px;
    
} */

#hidden a{
    margin: 10px;
    font-size: 25px;
    }
}