.project{
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
   background: linear-gradient(to right,  #221f1f, rgb(41, 30, 32), brown);
 
  
  
   
   
}

.title{
    text-align: center;
    background: linear-gradient(to right, steelblue, black, #fafafa);
    font-weight: 800;
    margin-bottom: 20px;
}

.title h2{
    color: #f1f1f1;
}

.single-project{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    color: #f1f1f1;
}

.project-image{
    flex: 0.4;
    text-align: center;
}

.project-title{
    flex: 0.6;
    
   
}

.project-title h2,h3, p{
    color: white;
    font-weight: 500;
}

.project-image img{
width: 200px;
height: 150px;

}



@media screen and (max-device-width: 730px){
    .single-project{
        display: flex;
        padding: 20px;
       flex-direction: column;
       text-align: center;
      
      
    }
}



