.project {
  color: black;
}

.title {
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
}

.title h1 {
  color: black;
}

.all-projects {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
}

.single-project {
  min-width: 50%;
  min-height: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  color: black;
}

.project-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.project-title {
  width: 100%;
}

.project-title h2 {
  color: black;
  font-weight: 800;
  margin-top: 2rem;
}

.project-title p {
  color: rgb(82, 80, 80);
}

.project-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-device-width: 730px) {
  .single-project {
    display: flex;
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }
}
