.skills {
  min-height: 70vh;
}

.skills h1 {
  text-align: center;
}

.skills .skills__header {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: center;
}

.skills .skills__header span {
  min-width: 120px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  line-height: 80px;
}

.skills .skills__header span:hover {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .skills {
    margin: 2rem;
  }
  .skills .skills__header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
