.home__info{
  display: flex;
  width: 100%;
  flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    color: black;
    padding: 30px;
    min-height: 500px;
    background: linear-gradient(to right,  brown, rgb(41, 30, 32), #221f1f);
    

  
}

.home__info p{
  font-size: 2rem;
  font-weight: 400;
  color: #fafafa;
}

.home__name{
    color: steelblue;
    font-size: 3rem;
    
 }

 .home__stack{
    color: rgb(145, 89, 89);
 }

 .home__btn{
   /* padding: 20px; */
   border: 1px solid steelblue;
   color: steelblue;
   height: 30px;
   margin-top: 20px;
   border-radius: 5px;
 }

 .home__btn:hover{
   background-color: #171515;;
 }