.home__info{
    border-bottom: 2px solid grey;
    height: 500px;
    padding: 20px;
    align-items: center;
    /* background-image: url(../assets/photo.jpg);
    background-position: center;
    background-size: cover; */
}

.home__name{
    color: steelblue;
    
 }

 .home__stack{
    color: rgb(145, 89, 89);
 }

 .home__btn{
   padding: 20px;
   border: 1px solid steelblue;
   color: steelblue;
 }

 .home__btn:hover{
   background-color: #171515;;
 }